.emojidisplay {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.emoji {

    display: flex;
    width: 96vw;
    height: 67vh;
    flex-wrap: wrap;
    overflow: scroll;
    margin: 0 auto;
    scrollbar-width: thin;


    overflow-x: hidden;
}

.nav {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 6px;
    background-color: cornflowerblue;
    border-radius: 8px;


}

.emoji::-webkit-scrollbar {
    width: 5px;
}

.warper {
    border: solid 1px cornflowerblue;
    border-radius: 8px;

}